
@font-face {
    font-family: "Droid Serif";
    src: url(../fonts/DroidSerif-Regular.ttf);
}
@font-face {
    font-family: "Arial Bold MT";
    src: url(../fonts/ArialBoldMT.ttf);
}

@font-face {
    font-family: "Arial MT";
    src: url(../fonts/ArialMT.ttf);
}
